.workspace {
  display: inline-block;
  position: relative;
}

.gallery {
  margin-top: 20px;
  border: 1px solid gray;
  padding: 5px;
  overflow-x: auto;
  white-space: nowrap;
}

.gallery-placeholder {
  display: none;
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: gray;
}

.gallery-placeholder:last-child {
  display: block;
}

.gallery img {
  max-height: 40px;
}

.gallery-item {
  display: inline-block;
  cursor: pointer;
}

.gallery-item:hover {
  outline: 1px solid green;
}

.gallery-item.active {
  outline: 1px solid red;
}

.gallery-item:not(:last-child) {
  margin-right: 5px;
}

.group {
  margin-bottom: 20px;
}

.reveal-wrap:not(.active) {
  display: none;
  z-index: 10;
}

.reveal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.4);
}

.reveal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  background: white;
  border-radius: 4px;
  box-shadow: 1px 0px 2px rgba(0,0,0,.1);
  background: gray;
}
