header > h1 {
  display: inline-block;
}

.workspace {
  display: inline-block;
  position: relative;
}

.gallery {
  position: relative;
  margin-top: 20px;
  border: 1px solid gray;
  padding: 5px;
  overflow-x: auto;
  white-space: nowrap;
}

.gallery.has-items {
  padding-right: 20px;
}

.gallery-remove {
  position: absolute;
  top: 5px;
  right: 5px;
  color: red;
  cursor: pointer;
}

.gallery-placeholder {
  width: 100%;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: gray;
}

.gallery.has-items > .gallery-placeholder {
  display: none;
}

.gallery:not(.has-items) > .gallery-remove {
  display: none;
}

.gallery img {
  max-height: 40px;
}

.gallery-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  min-width: 20px;
  min-height: 20px;
}

.gallery-item:hover {
  outline: 1px solid green;
}

.gallery-item.active {
  outline: 1px solid red;
}

.gallery-item:not(:last-child) {
  margin-right: 5px;
}

.gallery-item-remove {
  position: absolute;
  display: none;
  width: 20px;
  height: 20px;
  line-height: 20px;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
  border-radius: 50%;
  background: rgba(0,0,0,.6);
  color: white;
}

.gallery-items-remove .gallery-item-remove {
  display: block;
}

.group {
  margin-bottom: 20px;
}

.reveal-wrap:not(.active) {
  display: none;
  z-index: 10;
}

.reveal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.4);
}

.reveal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  background: white;
  border-radius: 4px;
  box-shadow: 1px 0px 2px rgba(0,0,0,.1);
  background: gray;
}
